.search-div input {
    width: 100%;
    height: 60px;
}

.search-div {
    padding-left: 15px;
}

.table-div  {
    width: 100%;
}

.column {
    width:100%;
}

th {
    font-size: 2.5rem;
    font-weight: 500;
    color: blue;
}

a {
    cursor: pointer;
    position: absolute;
    padding-top: 41px;
    font-size: 1.5rem;
}

img {
    width:100px;
    height:100px;
}